{% load static %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django project</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<section class="al mt-3">
    <div class="container justify-content-center">
        <div class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Greetings!</h4>
            <h5 class="mb-0">This site is under development<br>
                You can see my github projects here  <a href="https://github.com/timmashkov">There are all my works</a></h5>
        </div>
    </div>
</section>
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>